<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.js"></script>
</head>
<body>
<div id="myApp">
    <div v-for="item in goodsList">
        <p>商品名称：{{item.goodsName}}</p>
        <p>商品价格：{{item.goodsPrice | currency}}</p>
        <p>商品库存：{{item.storeNum}}</p>
        <p>上架时间：{{item.addTime | date}}</p>
        <p><input type="button" value="加入购物车" @click="joinCar(item.id)" ></p>
        <hr>
    </div>
    <div>
        <h3>购物车信息：</h3>
        <div>
            <img @click="changeAll" :src="isAll?'images/yes.png':'images/no.png'" alt="">
            合计：{{priceSum | currency}}
        </div>
        <div v-for="item in carList">
            <p>
                <img @click="changeChecked(item.id)" :src="item.isChecked?'images/yes.png':'images/no.png'" alt="">
                商品名称：{{item.goodsName}}</p>
            <p>商品价格：{{item.goodsPrice | currency}}</p>
            <p>购买的数量：<input type="button" value="-">{{item.buyNum}}<input @click="joinCar(item.goodsId)" type="button" value="+"></p>
            <p>价格合计：{{item.buyNum*item.goodsPrice | currency}}</p>
            <hr>
        </div>
    </div>
</div>
</body>
<script type="module">
    // v-clock
    import filter from "./lib/vue-filter2.js";
    for(var key in filter){
        Vue.filter(key,filter[key]);
    }
    new Vue({
        el:"#myApp",
        data:{
            goodsList:[
                {
                    id:1,
                    goodsName:"梨",
                    goodsPrice:12,
                    storeNum:3,
                    addTime:Date.now()-987654332234
                },
                {
                    id:2,
                    goodsName:"葡萄",
                    goodsPrice:34,
                    storeNum:12,
                    addTime:Date.now()-234523452345
                },
                {
                    id:3,
                    goodsName:"桃",
                    goodsPrice:90,
                    storeNum:9,
                    addTime:Date.now()-434534342345
                }
            ],
            carList:[]// 存放购物车信息
        },
        methods:{
            //  加入购物车
            /*
            * 1、判断库存是否充足
            *   1、充足
            *       1、判断购物车内是否有该商品
            *           1、有
            *               数量加1
            *           2、没有
            *               给购物车增加一条新的信息
            *   2、不充足
            *       提示商品库存不足*/
            joinCar(goodsId){
                // 根据商品ID获得商品信息 v-cloak
                var goodsInfo = this.goodsList.find(v=>v.id === goodsId);
                if(goodsInfo.storeNum > 0){
                    goodsInfo.storeNum--;
                    var carInfo = this.carList.find(v=>v.goodsId === goodsId);
                    if(carInfo){
                        carInfo.buyNum+=1;
                    }else{
                        this.carList.push({
                            id:Date.now(),// 购物车ID
                            goodsId,// 商品ID
                            goodsName:goodsInfo.goodsName,
                            goodsPrice:goodsInfo.goodsPrice,
                            isChecked:true,
                            buyNum:1
                        })
                    }
                }else{
                    alert("商品"+goodsInfo.goodsName+"库存不足")
                }
            },
            changeChecked(carId){
                var carInfo = this.carList.find(v=>v.id === carId);
                carInfo.isChecked = !carInfo.isChecked;
            },
            changeAll(){
                var state = !this.isAll;
                this.carList.forEach(v=>v.isChecked=state);

            }
        },
        computed:{
            priceSum(){
                var sum = 0;
                this.carList.forEach(v=>{
                    if(v.isChecked)
                        sum+=v.buyNum*v.goodsPrice
                })
                return sum;
            },
            // 是否为全选
            isAll(){
                var s = true;// 默认是全选
                for(var i=0;i<this.carList.length;i++){
                    if(!this.carList[i].isChecked){
                        s =false;
                        break;
                    }
                }
                return s;
            }
        }
    })
</script>
</html>